$buttons11-clr: #1e9bff;

.navlinks-container {
    min-height: 100vh;
    background: #27282c;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27282c;
    justify-content: space-evenly;
    padding: 20px;
}

.navlinks a {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.navlinks a:hover {
    letter-spacing: 0.25em;
    background: $buttons11-clr;
    box-shadow: 0 0 35px $buttons11-clr;
}

.navlinks a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.navlinks a span {
    position: relative;
}

.navlinks a i {
    position: absolute;
    inset: 0;
    display: block;
}

.navlinks a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 16px;
    height: 8px;
    border: 2px solid $buttons11-clr;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.navlinks a:hover i::before {
    width: 20px;
    left: 20%;
}

.navlinks a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 16px;
    height: 8px;
    border: 2px solid $buttons11-clr;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.navlinks a:hover i::after {
    width: 20px;
    left: 80%;
}

// -------------------------------

$extra-large: 20px;
$stroke-width: 10px;
$pink: #1e9bff;

.neon-text {
    padding-top: 40px;
    padding-bottom: 20px;
    $random-text: 'underlying wire';
    position: relative;
    $stroke-width: $extra-large * 0.05;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
    color: lighten($pink, 25%);
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: lighten($pink, 5%);
    text-align: center;
    text-shadow: 0 0 40px lighten($pink, 5%),
        0 0 40px lighten($pink, 5%),
        0 0 40px lighten($pink, 5%);

    &:after {
        content: $random-text;
        z-index: -1;
        position: absolute;
        color: transparent;
        -webkit-text-stroke-width: $stroke-width;
        -webkit-text-stroke-color: darken($pink, 40%);
        top: -5%;
        left: -0.5%;
    }
}