.body-faq4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #350048;
}

.container-faq4 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}