.body-paginations3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
}

.container-paginations3 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}