// paginations
@import "../paginations/paginations1";
@import "../paginations/paginations2";
@import "../paginations/paginations3";
@import "../paginations/paginations4";
@import "../paginations/paginations5";

.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}